body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;    
    background-color: #D0312D;
    transition: background-color 0.5s;
    animation: bg-color 10s infinite;
  }
  
  @keyframes bg-color {
    0% {
      background-color: #D0312D;
    }
    50% {
      background-color: rgb(255, 183, 0);
    }
    100% {
      background-color: #D0312D;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 250vh;
    margin: 0;
  }
  
  .title {
    font-size: 12rem;
    color: #fff;
    text-align: center;
    transition: color 0.5s;
    margin: 0;
    padding: 0;
  }
  
  .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: opacity 0.5s;
  }
  
  .animal-btn {
    background-color: #610C04;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
    animation: bg-color2 10s infinite;
  }

  @keyframes bg-color2 {
    0% {
      background-color: rgb(255, 183, 0);
    }
    50% {
      background-color: #D0312D;
    }
    100% {
      background-color: rgb(255, 183, 0);
    }
  }
  
  .animal-btn:hover {
    background-color: #fff;
    color: #610C04;
    transform: scale(1);
    box-shadow: 0 0 10px #610C04;
  }
  
  
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  #quack-btn {
    margin-top: 2rem;
    background-color: #680C07;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: opacity 0.5s;
  }
  
  #quack-btn:hover {
    opacity: 0.5;
  }
  
  .content p {
    max-width: 900px;
  }

  .buttons{
    display: flex;
  }

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: azure;

  }
  
  form button[type="submit"] {
    background-color: #ffaa00;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="email"] {
    background-color: #f1f1f1;
    border: none;
    color: #555;
    font-size: 18px;
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  input[type="email"]:focus {
    outline: none;
  }
  
  .subscribe-btn:hover {
    background-color: #ba8200;
  }  
  
  .animate-text {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
  }
  
  .prototipo{
    width: 100%;
    height: auto;
    object-fit: cover;
  }